.card {
    width: calc(50% - 8px);
    background-color: var(--bg-color: #EFE8DE);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-text {
    padding: 15px;
  }
  
  .card-text h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--font-color);
  }
  
  .card-img {
    background-color: red;
    width: 100%;
    height: 400px
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }