

.header-wrapper {
    list-style: none;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: white;
}

.nav-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 999;
    font-family: BNReconGrotesk;
}

.li-a   {
    text-decoration: none;
    color: black;
    font-size: x-large;
}